p{
    text-align: justify;
    text-justify: inter-word;
}

.justificar{
    text-align: justify;
    text-justify: inter-word;
}

.arch input[type="file"]{
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
}


.arch > i {
    margin-right: 15px;
}

.arch label {
    display: block;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background: #218838;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    margin-top: 20px;
}

.arch label:hover {
    background: #30c650;
}